{% extends 'index.html' %}

{% block title %}
Cuentas eWallet
{% endblock %}

{% block div %}
{% endblock %}
{% block content %}
  <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Banca eWallet</h2>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
                <div class="row">
                     <div class="col-md-12">
                        <h5>Bienvenido a tus Cuentas</h5>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#CuentaNro1" data-toggle="tab">Cuenta Nro1</a>
                            </li>
                            <li class=""><a href="#CuentaNro2" data-toggle="tab">Cuenta Nr2</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="CuentaNro1">
                                <h4>Quiero</h4>
                                <p>
                                   ----------------
                                </p>
                                <p>
                                    ------------------------------
                                </p>
                            </div>
                            <div class="tab-pane fade" id="CuentaNro2">
                                <h4>Quiero</h4>
                                <p>
                                   -----------------------.
                                </p>
                                <p>
                                    -------------------.
                                </p>
                                 <p>
                                    -----------------.
                                </p>
                            </div>                                                          
                        </div>
                    </div>
      
                </div>
{% endblock %}