{% extends 'index.html' %}

{% block title %}
Cuentas eWallet
{% endblock %}

{% block div %}
{% endblock %}
{% block content %}
<div id="page-wrapper" >
    <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Ingrese Codigo</label>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ formcod.as_p }}
                            <button type="submit">Comprobar</button>
                            <input type="text" name="number">
                        </form>
                    </div>
                </div>
    </div>
</div>
{% endblock %}
